
:root{
    --neutral-color: #262A2B;
    --primary-color: #1EFFBC;
    --neutral-color-light:#303436;
    --success-color: #00ABE7;
    --light-color:#F5F5F5;
    --light-color-2:#D6D6D6;
    --code-font:"Fira Code";


}

/* Browser Reset */
*,::before,::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
    scroll-behavior: smooth;

}

body{
    line-height:1.5;
    color:#F5F5F5;

}

img,picture,video,canvas,svg{
    display:block;
    max-width:100%;
}

input,button,textarea,select{
    font: inherit;
}
/* Fonts */

.code{
    font-family:var(--code-font);
}

body{
    font-family:"Rubik";
}

/* Body/Structure */

section{
    height:100vh;
}

/* Navbar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:5em;
    position:fixed;
    top:0;
    width:100%;
    background-color:var(--neutral-color);
}

nav #logo-link{
    margin: 0 1em;
    font-weight:bold;
    color:var(--primary-color);
    font-size:1.5rem;
    letter-spacing: 0.1em;
}

nav ul{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    margin: 0 1em;
    font-size:.90rem;
}

nav li{
    list-style:none;
    margin: 0 1em;
}

nav a{
    text-decoration:none;
    color:inherit;
    padding:0.70em; 
}

nav a:hover{
    border-bottom: 1px solid var(--primary-color);
}

.button{
    border: 1px solid var(--primary-color);
    border-radius:5px;
    color:var(--primary-color);
    padding:0.70em;
    text-decoration:none;
    letter-spacing:0.1rem;
}




/* hero */
#welcome-section{
    font-size:5vw;
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background:linear-gradient(
        var(--neutral-color-light),
        var(--neutral-color)
    );
}

#hero-content{
    letter-spacing: .1rem;
    grid-column: 2/-1;
    grid-row: 2/2;
}

#hero-content p{
    font-size:2.75vw;
}

#hero-content p:first-of-type{
    color: var(--primary-color);
    font-family: var(--code-font);
    font-weight:100;
}

#hero-content p:last-of-type{
    color:var(--light-color-2);
}

#hero-content .button{
    font-size:1.75vw;
    margin-top:1em;
}

@media (min-width:700px){
    #welcome-section{
        font-size:2.75rem;
    }
    #hero-content p{
        font-size:1.5rem;
    }
    #hero-content .button{
        font-size:1rem;
    }
}

@media (max-width:700px){
    #hero-content{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
}

/* About Me Section */
#about-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:100%;
    background-color:var(--light-color);
    color:var(--neutral-color-light);
}

#about-info{
    grid-column:1/1;
    margin:5em 3em 3em;
    font-size:1rem;
}

#about-info h2{
    text-align:left;
    margin-bottom:1em;
}

#about-img{
    height:100%;
    object-fit:cover;
}

.img-wrapper{
    border:1px solid white;
    max-width:100%;
    grid-column:2/-1;
}

@media (max-width:700px){
    #about-section{
        display:flex;
        flex-direction:column-reverse;
        flex-wrap:wrap;
    }

    #about-info{
        padding:2em;
    }
}

@media (min-width:700px){
    #about-info{
        font-size:1.25rem;
    }
}

/* Projects Section */
#projects{
    display:flex;
    align-items:center;
    padding:10em;
    flex-direction:column;
    background:linear-gradient(
        var(--neutral-color-light),
        var(--neutral-color)
    );
    height:100%;
}

#projects h2{
    margin-bottom:2em;
}

.project-gallery{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}

.project-gallery::after{
    content:'';
    width:20em;
    margin:1em;
}

.project-tile{
    display:flex;
    flex-direction: column;
    align-items:center;
    max-width:20em;
    margin:1em;
}

.project-tile a, .project-tile a h2{
    background-color: var(--neutral-color);
    width:100%;
    text-align:center;
}

.project-link{
    text-decoration:none;
    color:var(--success-color);
}

/* Contact Section */

#contact-section{
    padding:5em;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background:linear-gradient(
        var(--neutral-color),
        var(--neutral-color-light)
    );
}

#contact-section h2{
    font-size:3rem;
    margin:1em;
    text-align:center;
}

#contact-links-container{
    display:flex;
}

#contact-links-container a{
    margin:0 2em
}

path{
    fill:var(--success-color);
}